################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trigger/obj/
/Trigger/bin/
/Test/obj/
/Test/bin/
/.vs
/packages/
!packages/repositories.config


