################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/netstandard2.0
/.vs
/packages/EntityFramework.6.2.0/tools
