################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/netstandard2.0
/.vs
/packages/
!packages/repositories.config
